
@font-face {
  font-family: 'Ubuntu';
  src:url('assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src:url('assets/fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: Ubuntu;
}

#soundboard {
  background-color: white;
  overflow-y: scroll;
  padding-top: 10vmax;
  padding-bottom: 15vmax; /* Tied to RecorderView button heights */
}

#recorder {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

