button.SoundboardView-phoneme {
  background: rgb(250,175,100); /* Orange */
  color: black;
  font-weight: normal;
  display: block;
  text-align: center;
  width: 100%;
  padding: .4em;
}

table.SoundboardView-table {
  margin-top: 0.5em;
  margin-left: 0.5em;
  width:90%;
}

table.SoundboardView-table td {
  padding: 0.2em;
}


/*
 * media queries
 * 
 */

/*
 * landscape
 */

@media only screen and (max-width : 320px) and (orientation: landscape) {
  button.SoundboardView-phoneme {
    font-size: 1.0em;
  }
}
@media only screen and (min-width : 600px) and (orientation: landscape) {
  button.SoundboardView-phoneme {
    font-size: 1.8em;
  }
}
@media only screen and (min-width : 800px) and (orientation: landscape) {
  button.SoundboardView-phoneme {
    font-size: 2.1em;
  }
}
@media only screen and (min-width : 1000px) and (orientation: landscape) {
  button.SoundboardView-phoneme {
    font-size: 3em;
  }
}

/*
 * Portrait
 */

@media only screen and (max-width : 299px) and (orientation: portrait) {
  button.SoundboardView-phoneme {
    font-size: 0.7em;
  }
}


@media only screen and (min-width : 300px) and (orientation: portrait) {
  button.SoundboardView-phoneme {
    font-size: 1em;
  }
}

@media only screen and (min-width : 400px) and (orientation: portrait) {
  button.SoundboardView-phoneme {
    font-size: 1.3em;
  }
}

@media only screen and (min-width : 600px) and (orientation: portrait) {
  button.SoundboardView-phoneme {
    font-size: 1.7em;
  }
}


@media only screen and (min-width : 800px) and (orientation: portrait) {
  button.SoundboardView-phoneme {
    font-size: 2.1em;
  }
}
@media only screen and (min-width : 1024px) and (orientation: portrait) {
  button.SoundboardView-phoneme {
    font-size: 2.7em;
  }
}

